@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@800&family=Montserrat:wght@500&display=swap');

.dashboard{
    background-image: url(../../public/images/Cover\ Page\ 1.svg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 818px;
    left: 0px;
    top: 0px;
}

.front-page-pic{
    background-image: url(../../public/images/Front\ Page\ 1.svg);
    position: absolute;
    width: 754px;
    height: 818px;
    left: 765px;
    top: 0px;
}

.text-in-landing{
    background-image: url(../../public//images/text-in-landing.svg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 818px;
    left: 0px;
    top: 19px;
    background-repeat: no-repeat;
}

.book-now-container{
    text-decoration: none;
    position: absolute;
    width: 251px;
    height: 41px;
    left: 188px;
    top: 624px;

    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.09em;

    color: #D42E35;
}

.book-now-rectangle{
    position: absolute;
    width: 307px;
    height: 70px;
    left: 158px;
    top: 613px;

    background: #FFFFFF;
    border-radius: 79px;
}

.popular-services{
    position: absolute;
    width: 1254px;
    height: 91px;
    left: 67px;
    top: 940px;
    
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 89px;
    letter-spacing: 0.135em;
    
    color: #000000;
}
  
.prev-btn {
    background-image: url(../../public/images/prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 62px;
    height: 62px;
    left: 36px;
    top: 1133px;
}
  
.next-btn {
    background-image: url(../../public/images/next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 62px;
    height: 62px;
    left: 1395px;
    top: 1133px;
}

.about-us{
    position: absolute;
    width: 500px;
    height: 91px;
    left: 796px;
    top: 1668px;
    
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 102px;
    letter-spacing: 0.135em;
    
    color: #D61720;
}

.about-us-container{
    position: absolute;
    width: 552.11px;
    height: 288px;
    left: 801.89px;
    top: 1780px;
    
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.05em;
    
    color: #000000;
}

.about-us-pic{
    background: url(../../public/images/about-us-pic.svg);
    position: absolute;
    width: 660px;
    height: 415px;
    left: 95px;
    top: 1642px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-repeat: no-repeat;
}

.girl-bg{
    position: absolute;
    width: 100%;
    height: 628px;
    left: 0px;
    top: 2180px;
    
    background: linear-gradient(90deg, rgba(224, 88, 102, 0.5) 0%, rgba(255, 1, 13, 0.5) 100%), rgba(175, 118, 1, 0.4);
}

.girl-in-landing-page{
    background: url(../../public/images/girl-in-landing-page.svg);
    position: absolute;
    width: 777px;
    height: 702px;
    left: -22px;
    top: 2106px;
}

.tagline{
    background-image: url(../../public/images/tagline.svg);
    position: absolute;
    width: 858.46px;
    height: 370.35px;
    left: 542.54px;
    top: 2266px;  
}

.book-now-bot-rectangle{
    position: absolute;
    width: 303px;
    height: 70px;
    left: 841px;
    top: 2623px;    

    background: #FFD447;
    border-radius: 79px;
}

.book-now-bot-container{
    text-decoration: none;
    position: absolute;
    width: 250px;
    height: 23.74px;
    left: 876px;
    top: 2638px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: 0.09em;

    color: #ED6A59;
}

.logo{
    background-image: url(../../public/images/logo1.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 248px;
    height: 248px;
    left: 639px;
    top: 2857px;
}

.fb-icon{
    background: url(../../public/images/image\ 11.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    left: 679px;
    top: 3065px;
}

.message-icon{
    background: url(../../public/images/image\ 12.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    left: 749px;
    top: 3065px;
}

.call-icon{
    background: url(../../public/images/image\ 13.svg);
    position: absolute;
    width: 40px;
    height: 40px;
    left: 819px;
    top: 3065px;
}

.space{
    position: absolute;
    width: 307px;
    height: 50px;
    left: 0px;
    top: 3115px;

    background: white;
    border-radius: 79px;
}