@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Montserrat:ital,wght@0,700;1,700&display=swap');

header .wrapper{
    position: relative;
}

.box {
   background-color: transparent;
   justify-content: center;
   height: 567px;
   width: 1150px;

   border: 4px solid;
   border-color: #ffd447;
   border-radius: 25px;
   height: 605px;
   position: absolute;

   top: 270px;
   left: 132px;


 }

.booking-form {
   background-color: #ffffff;
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
 }
 
 .booking-form .div {
   background-color: #ffffff;
   border: 1px none;
   height: 1500px;
   overflow: hidden;
   position: relative;
   width: 1440px;
 }
 
 
 .booking-form .clinical-services {
   color: #d61720;
   font-family: "Montserrat";
   font-size: 40px;
   font-weight: 700;
   left: 146px;
   letter-spacing: 5.4px;
   line-height: normal;
   position: absolute;
   top: 200px;
   white-space: nowrap;
   width: 504px;
 }

 .booking-form .service-name {
   color: #000000;
   font-family: "Be Vietnam Pro";
   font-size: 24px;
   font-weight: bold;
   height: 567px;
   width: 1141px;
   position: absolute;
   top: 290px;
   left: 184px;

   display: flex;
   gap: 18.1px;
   flex-direction: column;
 }

 .booking-form .service-price {
   color: #000000;
   font-family: "Be Vietnam Pro";
   font-size: 24px;
   font-weight: bold;
   height: 567px;
   left: 184px;
   position: absolute;
   top: 290px;
   width: 1141px;
 }
 
 .booking-form .korean-snow-price {
   left: 1023px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 0;
   width: 70px;
 }
 
 .booking-form .elixir-whole-price {
   left: 1023px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 242px;
   width: 69px;
 }
 
 .booking-form .eyebag-price {
   left: 1023px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 194px;
   width: 69px;
 }
 
 .booking-form .meso2-price {
   left: 1024px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 146px;
   width: 69px;
 }
 
 .booking-form .meso1-price {
   left: 1024px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 97px;
   width: 69px;
 }
 
 .booking-form .mega-price {
   left: 1025px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 49px;
   width: 67px;
 }
 
 .booking-form .underarm-price{
   left: 1024px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 289px;
   width: 69px;
 }
 
 .booking-form .microneedling-price{
   left: 1024px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 531px;
   width: 69px;
 }
 
 .booking-form .korean-glass-price {
   left: 1021px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 483px;
   width: 71px;
 }
 
 .booking-form .elixir-facial-price {
   left: 1024px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 435px;
   width: 69px;
 }

 .booking-form .body-contour-price {
   left: 1023px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 386px;
   width: 69px;
 }

 .booking-form .stem-price {
   left: 1025px;
   letter-spacing: 3.24px;
   line-height: normal;
   position: absolute;
   top: 337px;
   width: 67px;
 }


 .checkboxes{
   display: flex;
   gap: 24.2px;
   flex-direction: column;
   transform: scale(1.3);
   width: 20px;
   height: 567px;
   left: 150px;
   position: absolute;
   top: 382px;
 }







ul.items p {
  margin-bottom: 20px;
}

.flex-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px; /* Adjust the value as needed */
  overflow: auto;
}

.summary-services {
  color: #000000;
  font-family: "Be Vietnam Pro";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;

  overflow: auto; 
  max-height: 300px; 
  left: 50px;
  position: absolute;
  top: 80px;
  width: 1140px;
}


.item-name {
  text-align: left;
}

.item-price {
  text-align: right;
}

.number-box {
  width: 50px; /* Adjust the width to your desired size */
  height: 25px; /* Adjust the height to your desired size */
  text-align: center
}

.overlap {
  height: 468px;
  left: 100px;
  position: absolute;
  top: 940px;
  width: 1276px;
}

.total-summary {
  color: #d61720;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  left: 26px;
  letter-spacing: 4.86px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 719px;
}

.rectangle {
  background-color: #dea69f1a;
  border-radius: 20px;
  height: 338px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 1218px;
}

.rectangle-2 {
  border: 4px solid;
  border-color: #ffd447;
  border-radius: 25px;
  height: 338px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 1218px;
}









 .booking-form .proceed-container {

   left: 932px;
   position: relative;
   top: 1360px;
 }

 .booking-form .proceed-button {
   display: inline-flex;
   align-items: center; 
   justify-content: center; 
   padding: 15px 30px;

   color: #ffffff;
   font-family: "Montserrat";
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 1.8px;
   line-height: normal;
   white-space: nowrap;
   text-decoration: none;

   width: 336px;
   border-radius: 79px;
   border: none;
   background-color: #ffd447;
   
 }

 .booking-form .proceed-button:hover {
   background-color: #f6a311;
 }

 .booking-form .proceed-button:active {
   background-color: #9b6200;
 }






 












