@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.myProfile-container{
    position: absolute;
    left: 0px;
}

.name{
    position: absolute;
    width: 1000px;
    height: 50.833px;
    left: 20vw;
    top:500px;

    color: #000;
    font-size: 45px;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 6.75px;
}